<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Party Spot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/font-awesome/css/font-awesome.min.css"/>

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.3.3"></script>
</head>
<body id="message_panel">

<div class="container-fluid" class=" text-light bg-dark">

    <div class="page-header">
        <h1>Party Spot
            <small>Channel: <b id="channelName">{{content.name}}</b> / User: <b id="userName">{{user.name}}</b></small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div style=" float:left;height:40vh; width:50%; min-width:150px">
                <small>Messages</small>
                <ul id="messages" style="list-style-type: none">
                    {% for message in content.messages %}
                    <li>{{message.get_message_time()}} {{message.user.name}} -> {{message.message}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div style=" float:left;height:40vh; width:50%; min-width:150px">
                <small>People</small>
                <ul id="users" style="list-style-type: none">
                    {% for user in content.users %}
                    <li>{{user.name}} ({{user.genre}})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <form hx-put="/message/{{content.name}}" hx-target="#message_panel">
            <div class="col-xs-12">
                Let's party:
                <input type="text" name="message"/>
            </div>
        </form>
    </div>

</body>
</html>