<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Party Spot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/font-awesome/css/font-awesome.min.css"/>

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.3.3"></script>

</head>
<body>

<div class="container-fluid" class=" text-light bg-dark">

    <div class="page-header">
        <h1>Party Spot
            <small>User: <b id="userName"></b></small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div style=" float:left;height:40vh; width:50%; min-width:150px">
                <small>Channels</small>
                <div hx-get="/channels"
                     hx-trigger="load"
                     hx-swap="innerHTML"
                     hx-target="#listChannels">
                    <ul id="listChannels"></ul>

                </div>
            </div>
            <div style=" float:left;height:40vh; width:50%; min-width:150px" hx-ext="client-side-templates">
                <small>Users</small>
                <div hx-get="/users"
                     hx-trigger="load"
                     hx-swap="innerHTML"
                     hx-target="#listUsers">
                    <ul id="listUsers"></ul>

                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>